<header>
    <div class="header-logo">
        <a href="/">OutPutIdea</a>
    </div>
    <ul class="header-menus">
        <li>
            <a href="/detail">OutPutIdeaとは</a>
        </li>
    </ul>
</header>

<div class="detail-main">
    <h2>詳細画面</h2>
    <p>ここにアイデアの詳細が表示されます</p>
</div>