<header>
  <div class="header-logo">
    <a href="/">OutPutIdea</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">OutPutIdeaとは</a>
    </li>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <%= post.content %>
        </div>
      <% end %>
  </div>
</div>
