<header>
  <div class="header-logo">
    <a href="/">OutPutIdea</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">OutPutIdeaとは</a>
    </li>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      投稿1
    </div>
    <div class="posts-index-item">
      投稿2
    </div>
  </div>
</div>
